<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Q-STI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
		<script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-diamond"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h2 id="line"> <%= rel %> </h2>
								<h2>QUEUING LINE</h2>
								<h1 style="color:yellow;" id = "rell"> </h3>
								
								<script src="/socket.io/socket.io.js"></script>
								<script>
								  var btn = "<%= rel %>";
								  var socket = io();
								  
								  if(btn == "Cashier") {
									socket.on('connect', function() {
									});
									socket.on('currentc', function({ row, current, queue }) {
										document.getElementById("rell").innerHTML = row;
										socket.emit('row, current, queue', currentc);
									});
								  }
								  else if(btn == "Enrollment") {
									socket.on('connect', function() {
									});
									socket.on('currente', function({ row, current, queue }) {
										document.getElementById("rell").innerHTML = row;
										socket.emit('row, current, queue', currente);
									});
								  }
								  else if(btn == "Proware") {
									socket.on('connect', function() {
									});
									socket.on('currentp', function({ row, current, queue }) {
										document.getElementById("rell").innerHTML = row;
										socket.emit('row, current, queue', currentp);
									});
								  }
								  else{
									socket.on('connect', function() {
									});
									socket.on('currentr', function({ row, current, queue }) {
										document.getElementById("rell").innerHTML = row;
										socket.emit('row, current, queue', currentr);
									});
								  }
								  var line = document.getElementById("rell").innerHTML;
								</script>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#join">Join</a></li>
								<li><a href="/back?cnl=<%= rel %>&" onclick="this.href+='counter='+line;">Cancel</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<!-- Queue Line -->
							<article id="join">
							<center>
								<div id="app">
								  <div class="preview-container">
									<video id="preview" ></video>
								  </div>
								</div>
								<% if (rel == "Cashier") { %>
									<form action="/cashier" method="POST">
										<input type="password" name="qr" id="yourInputFieldId" readonly="readonly"/>
										<input type="submit" value="check qr code" name="chk"/>
									</form>
								<% } else if (rel == "Enrollment") { %>
									<form action="/enrollment" method="POST">
										<input type="password" name="qr" id="yourInputFieldId" readonly="readonly"/>
										<input type="submit" value="check qr code" name="chk"/>
									</form>
								<% } else if (rel == "Registrar") { %>
									<form action="/registrar" method="POST">
										<input type="password" name="qr" id="yourInputFieldId" readonly="readonly"/>
										<input type="submit" value="check qr code" name="chk"/>
									</form>
								<% } else { %>
									<form action="/proware" method="POST">
										<input type="password" name="qr" id="yourInputFieldId" readonly="readonly"/>
										<input type="submit" value="check qr code" name="chk"/>
									</form>
								<% } %>
							</center>
							</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">STI STUDENTS</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			

	</body>
			<script type="text/javascript" src="insta/app.js"></script>
	
			<script src="qrcode/jquery.js"></script>
			<script src="qrcode/jsqrcode-combined.js"></script>
			<script src="qrcode/html5-qrcode.js"></script>
			<script type="text/javascript">
			  let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
			  scanner.addListener('scan', function (content) {
				$("#yourInputFieldId").val(content); // Pass the scanned content value to an input field
			  });
			  Instascan.Camera.getCameras().then(function (cameras) {
				if (cameras.length > 0) {
				  scanner.start(cameras[0]);
				} else {
				  console.error('No cameras found.');
				}
			  }).catch(function (e) {
				console.error(e);
			  });
			</script>
</html>
