<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Q-STI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link rel="stylesheet" href="calendar/css/pikaday.css">
		<link rel="stylesheet" href="calendar/css/site.css">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-diamond"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Online Queuing System</h1>
								<p>IS USED TO CONTROL QUEUES IN <a href="https://www.sti.edu/">STI COLLEGE LUCENA</a> <br/>
								</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#counter">Get Ticket number</a></li>
								<li><a href="#slot" >Slot Reservation</a></li>
								<li><a href="/logout" >Logout</a></li>	
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Ticket -->
							<article id="counter">
								<center class="actions">
								<h2 class="major">Counter</h2>
								<form action="/queue" method="post">
										<button type="submit" class="primary" style="margin-top:5px; width: 50%" value="Enrollment" name="Ticket"> Enrollment </button> <br/>
										<button type="submit" class="primary" style="margin-top:5px; width: 50%" value="Registrar" name="Ticket"> Registrar </button> <br/>
										<button type="submit" class="primary" style="margin-top:5px; width: 50%" value="Cashier" name="Ticket"> Cashier </button> <br/>
										<button type="submit" class="primary" style="margin-top:5px; width: 50%" value="Proware" name="Ticket"> Proware </button> <br/>
								</form>
								</center>
							</article>
							
						<!-- Slot -->
							<article id="slot">
								<center class="actions">
								<h2 class="major">SLOT</h2>
								<form method="post" action="/slot">
									<input type="text" id="datepicker" name="dte">
									<select name="table" style="margin-top:10px">
										<option value="" selected disabled>Select Counter</option>
										<option value="Enrollment">Enrollment</option>
										<option value="Registrar">Registrar</option>
										<option value="Cashier">Cashier</option>
										<option value="Proware">Proware</option>
									</select>
									<input type="submit" name="btn" value="Reserve" style="margin-top:10px"/>
								</form>
								</center>
							</article>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="/about">STI STUDENTS</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="calendar/pikaday.js"></script>
			<script>
				var someDate = new Date(); 
				someDate.setDate(someDate.getDate() + 6)
				var picker = new Pikaday(
				{
					field: document.getElementById('datepicker'),
					changeMonth: true,
					dateFormat: "dd-mm-yy",
					firstDay: 0,
					minDate: new Date(),
					maxDate: someDate,
					disableWeekends: true,
					yearRange: [2000,2020]
				});
				
			</script>

	</body>
</html>
