<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Q-STI</title>
		<link rel="shortcut icon" href="images/sti.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
				
				<header id="head">
				<h1 class="major">LOGIN</h1>
					<form action="/send" method="POST">
						<center>
						<div class="fields" style="margin-top:15px">
								<label for="studentID">Student Number</label>
								<input type="text" name="studentID" id="studentID" onkeypress="return isNumber(event)" /> <br/>
						</div>
							<input type="submit" id="login" value="Login" class="primary" style="margin-top:15px"/> <br/>
						</ul>
						</center>
					</form>
				</header>
				<!-- Main -->
					<div id="main">
						<article id="contact">
						<center> 
								<h2 class="major">Sign Up</h2>
								<form action="/signup" method="POST">
										<label for="Id">Student Number</label>
										<input type="text" name="id" id="Id" /> <br/>
										<label for="number">Contact Number</label>
										<input type="text" name="number" id="number"> 
										<input type="submit" value="Sign in" class="primary"  style="margin-top:15px"/>
										<input type="reset" value="Reset" />
								
								</form>
						</center>		
						</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <span>STI STUDENTS</span>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
	
	<script type="text/javascript">
		function isNumber(event){
			var keycode	= event.keyCode;
			if(keycode>47 && keycode<59){
				return true;
			}
			return false;
		}
	</script>
	
	 <script type="text/javascript">
		$(document).ready(function() {
			window.addEventListener( "pageshow", function ( event ) {
			  var historyTraversal = event.persisted || 
									 ( typeof window.performance != "undefined" && 
										  window.performance.navigation.type === 2 );
			  if ( historyTraversal ) {
				// Handle page restore.
				window.location.reload();
			  }
			});
			var allow = false;

			$('#login').click(function(e){
				console.log('Function entered');
				if(allow == false) {
					console.log('LOG 5');	
					e.preventDefault();			
					var formData = {
						studentID : $('#studentID').val(),
						validator : allow
					};
					if ($('#studentID').val() == '') {
						swal ( "Oops" ,  "Please enter your Student ID number!" ,  "warning" )
						console.log('Error 4');	
					} else {						
						$.ajax({
							type: 'post',
							url: 'https://peaceful-atoll-33285.herokuapp.com/send',
							//url: 'http://localhost:8080/send',
							dataType: 'json',
							data: formData
						})
						.done(function(data) {
							if (data.allow == false) {
								swal ( "Oops" ,  data.msg ,  "warning" )
								console.log('Error 2');	
							} else {
								allow = data.allow;
								console.log('Error 3');	
								$('#login').click();
							}
						})
						.fail(function(jqXHR, textStatus, err) {							
							swal ( "Oops" ,  "Error" ,  "error" )
							console.log('Error 1');
						});
					}
				}
			});

		});

	</script> 
</html>
