<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Q-STI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
		<script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-diamond"></span>
						</div>
						<div class="content">
						<div class="inner">
						<div>
							<div class="card card-1" id="div1">
								<a href="/nexttransaction" onclick="location.href=this.href+'?cnl=enrollment';return false;">
								<h2 id="line" style="margin-top:1em"> Enrollment </h2>
								<h2>QUEUING LINE</h2>
								<h1 style="color:yellow;" id = "rell"> </h1>
								</a> 
							</div> 
							<div class="card card-1" id="div2">
								<a href="/nexttransaction" onclick="location.href=this.href+'?cnl=cashier';return false;">
								<h2 id="line" style="margin-top:1em"> Cashier </h2>
								<h2>QUEUING LINE</h2>
								<h1 style="color:yellow;" id = "rel2"> </h1>
								</a>
							</div> 
							<div class="card card-1" id="div3">
								<a href="/nexttransaction" onclick="location.href=this.href+'?cnl=registrar';return false;">
								<h2 id="line" style="margin-top:1em"> Registrar </h2>
								<h2>QUEUING LINE</h2>
								<h1 style="color:yellow;" id = "rel3"> </h1>
								</a>
							</div> 
							<div class="card card-1" id="div4">
								<a href="/nexttransaction" onclick="location.href=this.href+'?cnl=proware';return false;">
								<h2 id="line" style="margin-top:1em"> Proware </h2>
								<h2>QUEUING LINE</h2>
								<h1 style="color:yellow;" id = "rel4"> </h1>
								</a>
							</div> 
							
							<script src="/socket.io/socket.io.js"></script>
								<script>
								  var btn = "<%= rel %>";
								  var socket = io();
								  var s="";
								  
								  if (btn == "enrollment") {
									document.getElementById('div1').style.display='none';
								  }
								  if (btn == "cashier") {
									document.getElementById('div2').style.display='none';
								  }
								  if (btn == "registrar") {
									document.getElementById('div3').style.display='none';
								  }
								  if (btn == "proware") {
									document.getElementById('div3').style.display='none';
								  }
								  
									socket.on('connect', function() {
									});
									socket.on('alll', function({ rowcashierr,ccashierr,rowenrolll,cenrolll,rowregistrarr,cregistrarr,rowproo,cproo, queue }) {
										document.getElementById("rell").innerHTML = rowenrolll;
										document.getElementById("rel2").innerHTML = rowcashierr;
										document.getElementById("rel3").innerHTML = rowregistrarr;
										document.getElementById("rel4").innerHTML = rowproo;
										socket.emit('rowcashierr,ccashierr,rowenrolll,cenrolll,rowregistrarr,cregistrarr,rowproo,cproo, queue', alll);
									});
								  
								</script>
						</div>
						</div>
						</div>
						<nav>
							<ul>
								<li><a href="/back">Cancel</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<!-- Queue Line -->
							
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">STI STUDENTS</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			
			<script type="text/javascript">
				$(document).ready(function() {
					var allow = false;

					$('#div1').click(function(e){
						if(allow == false) {
							e.preventDefault();			
							var formData = {
								validator : allow
							};					
								$.ajax({
									type: 'post',
									url: 'http://localhost:3000/nexttransaction/',
									dataType: 'json',
									data: formData
								})
								.done(function(data) {
										allow = data.allow;
										$('#div1').click();
									}
								})
								.fail(function(jqXHR, textStatus, err) {
									swal ( "Oops" ,  "Error" ,  "error" )
									console.log('Error');
								});
						}
					});
					$('#div2').click(function(e){
						if(allow == false) {
							e.preventDefault();			
							var formData = {
								validator : allow
							};					
								$.ajax({
									type: 'post',
									url: 'http://localhost:3000/nexttransaction/',
									dataType: 'json',
									data: formData
								})
								.done(function(data) {
										allow = data.allow;
										$('#div2').click();
									}
								})
								.fail(function(jqXHR, textStatus, err) {
									swal ( "Oops" ,  "Error" ,  "error" )
									console.log('Error');
								});
						}
					});
					$('#div3').click(function(e){
						if(allow == false) {
							e.preventDefault();			
							var formData = {
								validator : allow
							};					
								$.ajax({
									type: 'post',
									url: 'http://localhost:3000/nexttransaction/',
									dataType: 'json',
									data: formData
								})
								.done(function(data) {
										allow = data.allow;
										$('#div3').click();
									}
								})
								.fail(function(jqXHR, textStatus, err) {
									swal ( "Oops" ,  "Error" ,  "error" )
									console.log('Error');
								});
						}
					});
					$('#div4').click(function(e){
						if(allow == false) {
							e.preventDefault();			
							var formData = {
								validator : allow
							};					
								$.ajax({
									type: 'post',
									url: 'http://localhost:3000/nexttransaction/',
									dataType: 'json',
									data: formData
								})
								.done(function(data) {
										allow = data.allow;
										$('#div4').click();
									}
								})
								.fail(function(jqXHR, textStatus, err) {
									swal ( "Oops" ,  "Error" ,  "error" )
									console.log('Error');
								});
						}
					});

				});

			</script> 
	</body>
</html>
