<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Q-STI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
			
			<header id="header1">
				<h1 class="major">VERIFICATION</h1>
					<form action="/login" method="POST">
						<center>
						<div class="fields">
								<label for="Id">Verification code</label>
								<input type="text" name="Id" id="Id" />
						</div>
						<ul class="actions" style="margin-top: 15px">
							<li><input type="submit" value="Verify" class="primary" id="login" /></li>
						</ul>
						</center>
					</form>
			</header>
				<!-- Main -->
					<div id="main">


					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">STI STUDENTS</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
	
	<script type="text/javascript">
				$(document).ready(function() {

					var allow = false;

					$('#login').click(function(e){
						if(allow == false) {
							e.preventDefault();			
							var formData = {
								Id : $('#Id').val(),
								validator : allow
							};
							if ($('#Id').val() == '') {
								swal ( "Oops" ,  "Please enter verification code!" ,  "warning" )
							} else {						
								$.ajax({
									type: 'post',
									url: 'http://localhost:3000/login/',
									dataType: 'json',
									data: formData
								})
								.done(function(data) {
									if (data.allow == false) {
										swal ( "Oops" ,  data.msg ,  "warning" )
									} else {
										allow = data.allow;
										$('#login').click();
									}
								})
								.fail(function(jqXHR, textStatus, err) {
									swal ( "Oops" ,  "Error" ,  "error" )
									console.log('Error');
								});
							}
						}
					});

				});

	</script> 
</html>
