<!DOCTYPE HTML>
<html>
	<head>
		<title>Online Queuing System</title>
		<link rel="shortcut icon" href="images/sti.png">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-3.2.1.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/init.js"></script>
		<script src="js/jquery-confirm.js"></script>

		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
		<link rel="stylesheet" href="css/jquery-confirm.css" />

		<style type="text/css">
			.jc-bs3-container{
				text-align: center;
			}

			.jc-bs3-row{
				display: inline-block;
				text-align: left;
			}
		</style>
	</head>
	<body id="top">

			<header id="header" class="skel-layers-fixed">
				<h1><a href="#"> <img src="sti.png" alt="STI College Icon" style="height:44px"> </a></h1> <br>
			</header>

			<section id="one" class="wrapper style1" style="padding-bottom:0px;">
				<header class="major">
					<h2>LOG IN</h2>
				</header>
				<div class="container">
					<div style="text-align: center;">
						<div style="display: inline-block;" class="4u">
							<section class="special box">
								<i class="icon fa-user major"></i>
								<form id='login_form' action="/login" method="POST">
									<input type="text" id="id_no" name="id_no" placeholder="ID number"/>	
									<input style="margin-top: 5px" id="pass" type="password" name="pass" placeholder="Password"/><br>
									<input type="submit" id="login" name="button" value="Log in" /> <br>
									
								</form>
							</section>
						</div>
						
					</div>
				</div>
			</section>

			<script type="text/javascript">
				$(document).ready(function() {

window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted || 
                         ( typeof window.performance != "undefined" && 
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
    window.location.reload();
  }
});

					var allow = false;

					$('#login').click(function(e){

						if(allow == false) {
							e.preventDefault();
						
							var formData = {
								id_no : $('#id_no').val(),
								pass : $('#pass').val(),
								validator : allow
							};
							if ($('#id_no').val() == '' || $('#pass').val() == '') {
								
								$.alert({
								    title: 'Login error!',
								    content: 'Please enter your ID. No and Password!',
								    icon: 'fa fa-warning',
								    type: 'blue',
								    buttons: {
								    	Okay:{
									    	text: 'Okay',
									    	btnClass:'btn-blue',
									    	keys:['esc','space']
									    }	
								    }
								});
							} else {						
								$.ajax({
									type: 'post',
									url: 'https://radiant-springs-10753.herokuapp.com/login',
									dataType: 'json',
									data: formData
								})
								.done(function(data) {
									if (data.allow == false) {
										$.alert({
										    title: 'Login error!',
										    content: data.msg,
										    icon: 'fa fa-warning',
										    type: 'blue',
										    buttons: {
										    	Okay:{
											    	text: 'Okay',
											    	btnClass:'btn-blue',
											    	keys:['esc','space']
											    }	
										    }
										});
									} else {
										allow = data.allow;
										$('#login').click();
									}
								})
								.fail(function(jqXHR, textStatus, err) {
									$.alert({
									    title: 'Error',
									    content: 'Error',
									    icon: 'fa fa-warning',
										type: 'blue',
									    buttons: {
									    	Okay:{
										    	text: 'Okay',
										    	btnClass:'btn-blue',
										    	keys:['esc','space']
										    }	
									    }
									});
								});
							}
						}
					});

				});

			</script>
	</body>
</html>