<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Online Queuing System</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<script src="js/jquery-confirm.js"></script>

		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
		<link rel="stylesheet" href="css/jquery-confirm.css" />

		<style type="text/css">
			#list li{
				float:left;
				list-style-type: none;
				border: 1px yellow solid;
				column-width: 30px;
				line-height: 30px;
				padding: 0px;
				margin-right:1.9px;
				margin-bottom:2px;
			}

			span {
				display: block;
			} 

			.jc-bs3-container{
				text-align: center;
			}

			.jc-bs3-row{
				display: inline-block;
				text-align: left;
			}
		</style>
	</head>
	<body id="top">
		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="#"> <img src="sti.png" alt="STI College Icon" style="height:44px"> </a></h1> <br>
				<nav id="nav">
					<ul>
						<li><a href="/home">Home</a></li>
						<li><a href="/logout" class="button special" id="logout">Log Out</a></li>
					</ul>
				</nav>
			</header>

		<!-- One -->
		<form method="POST" id="ql_form">
			<section id="one" class="wrapper style1" style="padding-bottom:0px;">
				<header class="major">
					<h2>QUEUE LINE</h2>
					<h1>Queue number Available </h1>
					<h2 style="color: red;" id="available">0</h2>
				</header>
				<div style="text-align: center;" class="container" >
					<div style="display: inline-block; width: 750px;" class="row">
						<div class="6u">
							<section class="special box" style="line-height: 83px">
								<input style="font-size: 0.6em" type="submit" value="Start" id="start_btn" > </button>
							    <input style="font-size: 0.6em" type="button" value="Next" id="nxt_btn" disabled> </button>
								<input style="font-size: 0.6em" type="button" value="Reserve" id="res_btn" disabled> </button>
							</section>
						</div>
						<div class="6u">
							<section class="special box">
							<div style="font-size: 40px;" id="serving"> 0
								</div><br>
								<h2>NOW SERVING</h2>
							</section>
						</div>
						<div style="width:inherit;">
							<h1 style="text-align: left; border-bottom:1px yellow solid;margin-bottom: 5px">Reserved Numbers</h1>
							<ol style="padding:0px;" id='list'></ol>
						</div>
					</div>
				</div>
			</section>
		</form>

		<script type="text/javascript">
			$(document).ready(function() {

				var avail;
				var serving;
				var timer;
				var swtch = false;

				$.ajax({
					type: 'get',
					url: 'http://localhost:3000/update',
					dataType: 'json'
				})
				.done(function(data) {
					avail = data.available;
					$('#available').html(data.available);
					serving = data.serving;
					$('#serving').html(serving);
					
					if (serving == 0) { 
						$('#start_btn').attr('value', 'Start');
					} else {
						$('#start_btn').attr('value', 'Resume');
					}
				})
				.fail(function(jqXHR, textStatus, err) {
					console.log('AJAX error response:', err);
				});
				
				setInterval(function() {
					$.ajax({
						type: 'get',
						url: 'http://localhost:3000/update',
						dataType: 'json'
					})
					.done(function(data) {
						avail = data.available;
						if (data.available < 101) {
							$('#available').html(data.available);
						} else if (data.available == 101){
							$('#available').html('Queue Line Closed');
						} else {
							$('#available').html(data.available);
						}
						
					})
					.fail(function(jqXHR, textStatus, err) {
						console.log('AJAX error response:', err);
					});
				}, 100);

				if (serving==0) { 
					$('#start_btn').attr('value', 'Start');
				} else {
					$('#start_btn').attr('value', 'Resume');
				}

				$('#start_btn').click(function(e) {
					e.preventDefault();
					
					if ($('#available').html() == 'Please Generate QR Code first'){
						$.alert({
						    title: 'Queue Line Alert',
						    content: 'Please Generate QR Code first.',
						    icon: 'fa fa-warning',
							type: 'blue',
						    buttons: {
						    	Okay:{
							    	text: 'Okay',
							    	btnClass:'btn-blue',
							    	keys:['esc','space']
							    }	
						    }
						});
					} else {
						if (avail == 1 ) { 
							$.alert({
							    title: 'Queue Line Alert',
							    content: 'No queue number has been taken yet.',
							    icon: 'fa fa-warning',
								type: 'blue',
							    buttons: {
							    	Okay:{
								    	text: 'Okay',
								    	btnClass:'btn-blue',
								    	keys:['esc','space']
								    }	
							    }
							});
						} else {
							if (!swtch) {
								$('#nxt_btn').attr('disabled', false);
								$('#res_btn').attr('disabled', false);
								$('#start_btn').attr('value', 'Pause');

								$('#nxt_btn').click();

								swtch = true;
							} else {
								$('#nxt_btn').attr('disabled', true);
								$('#res_btn').attr('disabled', true);
								$('#start_btn').attr('value', 'Resume');

								clearInterval(timer);

								swtch = false;
							}
						}
					}
				});

				$('#nxt_btn').click(function() {
					if (serving < avail - 1) {
						$.ajax({
							type: 'post',
							url: 'http://localhost:3000/start',
							dataType: 'json',
							data: {serving : serving}
						})
						.done(function(data) {
							serving = data.serving;
							$('#serving').html(serving);
							console.log(serving);
							
						})
						.fail(function(jqXHR, textStatus, err) {
							console.log('AJAX error response:', err);
						});

						timer = setInterval(function() {
							clearInterval(timer);
							$('#nxt_btn').click();
						}, 300000);

					} else if (avail == 101 ) {
						$('#serving').html('Closed');
					} else{
						$.alert({
						    title: 'Queue Line Alert',
						    content: 'Next queue number is not taken yet.',
						    icon: 'fa fa-warning',
							type: 'blue',
						    buttons: {
						    	Okay:{
							    	text: 'Okay',
							    	btnClass:'btn-blue',
							    	keys:['esc','space']
							    }	
						    }
						});
						clearInterval(timer);
					}
				});

				$("ol").on('click','.rem',function(){
				    $(this).parent('li').remove();
				    $('#serving').html($(this).html());
				});

				$('#res_btn').click(function() {
				    $('#list').append( '<li><span class="rem">'+ $('#serving').html() +'</span></li>' );
				    $('#nxt_btn').click();
				});

				var allow=false;

				$('#logout').click(function(e) {

					if (!allow) {
						e.preventDefault();

						$.confirm({
						    title: 'Confirmation',
						    content: 'Are you sure you want to log out?',
						    buttons: {
						        Yes: {
						        	text:'Yes',
						        	btnClass:'btn-blue',
						        	keys:['space'],
						        	action: function(){
						        		allow=true;
						        		console.log(allow);
						        		
						        				$('#logout').click();
						        			
						        		
							            
						        	}
						        },
						        Cancel:{
						        	text:'Cancel',
						        	btnClass:'btn-dark',
						        	keys:['esc'],
						        	action: function(){
						        		console.log('canceled')
						        	}
						        }
						    }
						});
					} else {
						window.location.href = '/';
					}
				});
			});
			
		</script>

	</body>
</html>